BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
SortIncludes: Never
SpacesInContainerLiterals: false
